@font-face {
    font-family: 'Manifold Sans';
    src: url('/assets/type/Manifold_Sans_Light_Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plastic Script Light';
    src: url('/assets/type/Plastic_Script_Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-color: floralwhite;
    --primary-color: #111;
    --secondary-color: #A60837;
    --body-font: 'Manifold Sans', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1rem,3vw,1.125rem);
    --heading-font: 'Plastic Script Light', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
        cursor: url('/assets/graphics/point.svg') 5 -5, auto;
}
    
html a:hover {
        cursor: url('/assets/graphics/hover.svg') 5 -5, auto;
}

body { 
    background-color: var(--background-color);
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
} 

main {
    animation: fadeIn 500ms ease-out forwards;
    opacity: .1;
}

@keyframes fadeIn {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.page {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    min-height: 100dvh;
    text-align: center; 
}

p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 2;
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(2.75rem,6vw,3.75rem); 
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    word-spacing: -1rem;
    color: var(--secondary-color);
}