@font-face {
    font-family: 'Manifold Sans';
    src: url('/assets/type/Manifold_Sans_Light_Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plastic Script Light';
    src: url('/assets/type/Plastic_Script_Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-color: floralwhite;
    --primary-color: #111;
    --secondary-color: #A60837;
    --body-font: 'Manifold Sans', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1rem,3vw,1.125rem);
    --heading-font: 'Plastic Script Light', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/point.svg'), auto;
}    

html a:hover {
    cursor: url('/assets/graphics/hover.svg'), auto;
}

body {
    background-color: var(--background-color);
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

header {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 10000;
    width: 100%; 
    height: 4rem;
    padding-right: clamp(1rem,3vw,1.5rem);
    padding-left: clamp(1rem,3vw,1.5rem);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color)
}

nav.title {
    display: flex;
    flex: .4;  
    justify-content: flex-start; 
    align-items: center;
    position: relative;
}

nav.links {
    display: flex; 
    flex: .6;
    justify-content: flex-end; 
    align-items: center;
    position: relative; 
}

nav.links a:nth-child(2) {
    padding: 0 1rem 0 1rem;
}

nav a {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 1.6;
    color: var(--primary-color);
    text-decoration: none !important;
}

nav:not(.title) a.active, 
nav a:hover {
    color: var(--secondary-color);
}

main {
    animation: fadeIn 500ms ease-out forwards;
    opacity: .1;
}

@keyframes fadeIn {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.page {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
}  

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 41rem;
    margin: 0 auto;
    padding: 10rem 0;
}

p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 1.6;
    color: var(--primary-color);
    margin: 0 0 1rem;
}

a {
    color: var(--primary-color);
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(1.45rem,4vw,1.7rem);
    word-spacing: -2px;
    line-height: 1.2;
    color: var(--primary-color);
    margin: 0 0 1.5rem;
}

hr {
    width: 100%;
    height: 1px; 
    margin: 1.75rem 0;
    border: 0;
    background: var(--secondary-color);
}

footer {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 4rem; 
    padding-right: clamp(1rem,3vw,1.5rem);
    padding-left: clamp(1rem,3vw,1.5rem);
    border-top: 2px solid var(--primary-color); 
    background-color: var(--background-color);;
}

.socials {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    position: relative; 
    width: 50%; 
}

.social-icons {
    width: clamp(1.2rem,3vw,1.3rem);
    height: auto;
    vertical-align: text-bottom;
}

.social-icons:hover {
    fill: var(--secondary-color);
}

.copyright {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    position: relative; 
    width: 50%;
}

/*Mobile*/

@media screen and (max-width: 768px) {
    .page {
        display: block;
    }

    .content {
        padding: 8rem 1rem;
    }
}