@font-face {
    font-family: 'G2 Erika';
    src: url(/assets/type/g2erika_regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {font-family: 'Mono 45 Headline';
    src: url(assets/type/mono45headline_light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --gap: 1.25rem;
    --big-gap: 2rem;
    --max-width: 42rem;
    --body-font: 'G2 Erika', sans-serif, system-ui;
    --body-font-size: calc(1.05rem + .35vw);
    --heading-font: 'Mono 45 Headline', monospace;
    --heading-font-size: calc(1.75rem + .7vw);
    --primary-color: #111;
    --dark-primary-color: var(--primary-color);
    --accent-color: #AD0000;
    --link-color: #8D8C8C;
    --background-color: floralwhite;
    --form-field-background-color: white;
}

:focus-visible {
    outline: 3px solid #AD0000;
    outline-offset: 2px;
}

@media (prefers-color-scheme: dark){
    :root {
        --primary-color: #D3CEC1;
        --form-field-background-color: var(--primary-color);
        --accent-color: #FF7A7A;
        --link-color: #8D8C8C;
        --background-color: #111;
        --dark-primary-color: var(--background-color);
    }
    :focus-visible {
        outline: 3px solid #FF7A7A;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

main * + * {
    margin-block-start: var(--gap);
}

.margins-off * {
    margin-block-start: 0;
}

.center {
    text-align: center;
}

html {
    font-size: 16px;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

nav ul {
    display: flex;
    list-style: none;
}

nav a.active {
    color: var(--accent-color);
}

main {
    margin: unset;
}

.acme-content-wrapper {
    max-width:var(--max-width);
    margin: 0 auto;
    padding: 9rem 0;
}

article:not(:first-child) {
    padding: 4rem 0 0;
}

article:not(:last-of-type)::after {
    display: block;
    height: 4rem;
    border-bottom: 2px solid var(--primary-color);
    content: ""
}

.a-picture {
    display: flex;
    justify-content: center;
}

.a-picture img {
    width: 100%;
    height: auto;
    margin-block-end: var(--big-gap);
    border-radius: .5rem .5rem .5rem .5rem;
}

a {
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1.5px;
    text-decoration-skip: all;
    text-decoration-color: grey;
    color: var(--primary-color);
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6;
    }
    header a:hover, .socials a:hover {
        color: var(--accent-color);
        opacity: 1;
    }
    .social-doodads:hover {
        fill: var(--accent-color);
    }
}

.linkstyling-off * {
    text-decoration: none;
}

h1,h2 {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    word-spacing: -.25rem;
}

hr {
    height: 1px;
    background: var(--accent-color);
}

.spacer {
    width: .75rem;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 41rem;
    margin: 0 auto;
    padding-bottom: 9rem;
    display: none; /*not active*/
}

.pagination-inner {
    display: flex;
    justify-content: space-between;
    width: 100%
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-top: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

.socials {
    display: flex;
}

.social-doodads {
    display: flex;
    width: auto;
    height: calc(var(--body-font-size) * 1.25);
    vertical-align: baseline;
    fill: var(--primary-color);
}

#coda {
    padding-top: 4rem;
    text-align: center;
}

.coda-thingy {
    width: auto;
    height: calc(var(--body-font-size) * 2);
}

.arrow-up-rgt {
    width: auto;
    height: calc(var(--body-font-size) * .6);
    padding-left: 2px;
}

.error-message {
    display: inline;
    color: var(--accent-color);
}

.error-message {
    margin-inline-start: 1rem;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);    
    font-size: var(--small-text);
    color: var(--primary-color);
}   

.skip-link:focus {
    top: 6px;
    font-size: var(--small-text);
    color: var(--primary-color);
}   

.vh {
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    clip-path:inset(50%);
    white-space:nowrap;
}

@media (max-width:768px) {
    body {
        justify-content: flex-start;
    }
}