@font-face {
    font-family: 'G2 Erika';
    src: url(/assets/type/g2erika_regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {font-family: 'Mono 45 Headline';
    src: url(/assets/type/mono45headline_light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --ratio: 1.5;
    --space--1: calc(var(--space-0) / var(--ratio));
    --space-0: calc(1.25rem + .35vw);
    --space-1: calc(var(--space-0) * var(--ratio));
    --space-2: calc(var(--space-1) * var(--ratio));
    --max-width: 50ch;
    --body: 'G2 Erika', sans-serif, system-ui;
    --paragraph: calc(1.25rem + .35vw);
    --heading: 'Mono 45 Headline', monospace;
    --heading-1: calc(1.85rem + .7vw);
    --primary: #111;
    --dark-primary: var(--primary);
    --accent: #AD0000;
    --link: #8D8C8C;
    --background: #FFFAF0;
    --form-field-background: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #D3CEC1;
        --form-field-background: var(--primary);
        --accent: #FF7A7A;
        --link: #8D8C8C;
        --background: #111;
        --dark-primary: var(--background);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: #fff0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 1.5rem;
    font-family: var(--body);
    font-size: var(--paragraph);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border-bottom: 2px solid var(--primary);
    background-color: var(--background);
}

nav ul {
    display: flex;
    list-style: none;
}

nav a.active {
    color: var(--accent);
}

.acme-content-wrapper {
    max-width:var(--max-width);
    margin: 0 auto;
    padding: 9rem 0;
}

article > * + *,
h1 + p {
    margin-block-start: var(--space-0);
}

article:not(:first-child) {
    padding: 6rem 0 0;
}

article:not(:last-of-type)::after {
    display: block;
    height: 6rem;
    border-bottom: 2px solid var(--primary);
    content: ""
}

img {
    width: 100%;
    height: auto;
    margin-block-end: var(--space-0);
    border-radius: 1rem;
}

h1,
h2 {
    font-family: var(--heading);
    font-size: var(--heading-1);
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    word-spacing: -.25rem;
}

.date {
    line-height: 1;
}

a {
    display: inline;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1.5px;
    text-decoration-skip: all;
    text-decoration-color: grey;
    color: var(--primary);
    transition: color .3s ease;
}

.linkstyling-off * {
    text-decoration: none;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        color: var(--accent);
    }
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible,
input:focus-visible {
    outline: 3px solid var(--accent);
    outline-offset: 3px;
    border-radius: .25rem;
}

[tabindex="-1"]:focus {
    outline: none;
}

hr {
    height: 1px;
    margin-block-start: var(--space-1);
    margin-block-end: var(--space-1);
    background: var(--accent);
}

.center {
    text-align: center;
}

.with-gap {
    gap: var(--space--1);
}

.space {
    padding: 0 .15rem;
}

.emphasis {
    color: var(--accent);
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 6rem auto;
    display: none; /*not active*/
}

.pagination-inner {
    display: flex;
    justify-content: space-between;
    width: 100%
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border-top: 2px solid var(--primary);
    background-color: var(--background);
}

.socials {
    display: flex;
}

.social-doodads {
    display: flex;
    width: auto;
    height: 1.15em;
    fill: var(--primary);
}

#coda {
    padding-top: 4rem;
    text-align: center;
}

.coda-thingy {
    width: auto;
    height: 1.7em;
}

.arrow-up-rgt {
    width: .65em;
    height: auto;
}

.error-message {
    display: inline;
    color: var(--accent);
}

.error-message {
    margin-inline-start: 1rem;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);    
    font-size: var(--small-text);
    color: var(--primary);
}   

.skip-link:focus {
    top: 6px;
    font-size: var(--small-text);
    color: var(--primary);
}   

.vh {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
}

@media (max-width: 768px) {
    body:not(.utility) {
        justify-content: flex-start;
    }
}