@font-face {
    font-family: 'Manifold Sans';
    src: url('/assets/type/Manifold_Sans_Light_Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plastic Script Light';
    src: url('/assets/type/Plastic_Script_Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/old_school_point.svg'), auto;
    scroll-behavior: smooth;
}

html a:hover, button:hover {
    cursor: url('/assets/graphics/old_school_hover.svg'), auto;
}

body { 
    background-color: floralwhite;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
} 

main {
    opacity: .1;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.header {
    position: fixed; 
    left: 0; 
    top: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: floralwhite;
    border-bottom: 3px solid #111;
    padding-left: clamp(1rem,3vw,2rem);
    padding-right: clamp(1rem,3vw,2rem);
}

nav.title {
    position: relative;
    flex: .4; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

nav.links {
    position: relative; 
    display: flex; 
    flex: .6;
    justify-content: flex-end; 
    align-items: center;
}

nav.links a:nth-child(2) {
    padding: 0 1rem 0 1rem;
}

nav a {
    font-family: 'Manifold Sans', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #111;
    text-decoration: none !important;
}

nav:not(.title) a.active, 
nav a:hover {
    color: #A60837;
}

.page {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}

p {
    font-family: 'Manifold Sans', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #111;
}

h1 {
    font-family: 'Plastic Script Light', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.45rem,4vw,1.7rem);
    font-weight: 400;
    font-style: normal;
    word-spacing: -2px;
    line-height: 1.2;
    color: #111;
}

form {
    width: 100%;
    max-width: 32rem;
    padding-left: clamp(1rem,3vw,2rem);
    padding-right: clamp(1rem,3vw,2rem);
}

#hello {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

label {
    font-family: 'Manifold Sans', sans-serif, Helvetica, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    color: #111;
    
}

input, textarea {
    font-family: 'Manifold Sans', sans-serif, Helvetica, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    width: 100%;
    background-color: white;
    border: none;
    border-radius: .15rem .15rem .15rem .15rem;    
    padding: 1rem .5rem 1rem .5rem;
    margin: .5rem 0 2rem;
}

button {
    font-family: 'Manifold Sans', sans-serif, Helvetica, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    color: #A60837;
    background-color: floralwhite;
    border: 2px solid #A60837;
    border-radius: .15rem .15rem .15rem .15rem;    
    padding: .5rem 1.5rem;
}

button:hover {
    color: #006BA6;
    border: 2px solid #006BA6;
}

::placeholder {
    color: #111;
    opacity: .4;
    text-decoration: line-through;
}

/*Thanks message*/

form p {
    font-family: 'Manifold Sans', sans-serif, Helvetica, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    color: #111;
    text-align: center;
}

.footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: floralwhite;
    border-top: 3px solid #111;
    padding-left: clamp(1rem,3vw,2rem);
    padding-right: clamp(1rem,3vw,2rem);
}

.socials {
    position: relative; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 50%; 
}

.social-icons {
    width: clamp(1.2rem,3vw,1.3rem);
    height: auto;
    vertical-align: text-bottom;
}

.social-icons:hover {
    fill: #A60837;
}

.copyright {
    position: relative; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 50%;
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
    }

    .content {
        padding: 8rem 0;
    }
}