@font-face {
    font-family: 'Manifold Sans';
    src: url('/assets/type/Manifold_Sans_Light_Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plastic Script Light';
    src: url('/assets/type/Plastic_Script_Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/old_school_point.svg'), auto;
    scroll-behavior: smooth;
}

html a:hover {
    cursor: url('/assets/graphics/old_school_hover.svg'), auto;
}

body { 
    background-color: floralwhite;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
} 

.page {
    display: flex;
    height: 100dvh;
    height: 100vh; 
}

main {
    opacity: .1;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

.header {
    position: fixed; 
    left: 0; 
    top: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: floralwhite;
    border-bottom: 3px solid #111;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
}

nav.title {
    position: relative;
    flex: .4; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

nav.links {
    position: relative; 
    display: flex; 
    flex: .6;
    justify-content: flex-end; 
    align-items: center;
}

nav.links a:nth-child(2) {
    padding: 0 1rem 0 1rem;
}

nav a {
    font-family: 'Manifold Sans', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #111;
    text-decoration: none !important;
}

nav:not(.title) a.active, 
nav a:hover {
    color: #A60837;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    width: 100%;
    max-width: 41rem;
    margin: 0 auto;
    padding: 5rem 1.5rem 0 1.5rem;
}

article:first-of-type {
    padding-top: 10rem;
}

article:last-of-type {
    padding-bottom: 10rem;
}

article:not(:last-of-type)::after {
    content: "";
    display: block;
    height: 5rem;
    border-bottom: 3px solid #111;
}

p {
    font-family: 'Manifold Sans', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #111;
}

h1 {
    font-family: 'Plastic Script Light', sans-serif, Helvetica, Arial, system-ui;
    font-size: clamp(1.45rem,4vw,1.7rem);
    font-weight: 400;
    font-style: normal;
    word-spacing: -2px;
    line-height: 1.2;
    color: #111;
    margin: 0 0 1.5rem;
}

a {
    color: #111;
}

.visual {
    display: flex;
    justify-content: center;
    padding: .25rem 0 0;
}

.visual img,
.visual video {
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem .5rem .5rem;
    padding-top: .25rem;
    margin-bottom: 2rem;
}

video {
    object-fit: cover;
}

audio {
    width: 100%;
    margin-top: 2rem;
}

blockquote {
    margin: 2rem auto;
}

blockquote h2 {
    font-size: clamp(1.1rem,3vw,1.2rem); 
    text-transform: uppercase;
    color: #111;
    border-left: 4px solid #A60837;
    padding-left: 1rem;
}

.source {
    text-align: right;
}

.source:before {
    content:"—";
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 9rem;
    /*if no pagination required*/
    display: none;
}

.pagination-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagination p {
    color: #A60837;
}

.footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 4rem;  
    background-color: floralwhite;
    border-top: 3px solid #111;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
}

/*——Special classes*/

.socials {
    position: relative; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 50%; 
}

.social-icons {
    width: clamp(1.2rem,3vw,1.3rem);
    height: auto;
    vertical-align: text-bottom;
}

.social-icons:hover {
    fill: #A60837;
}

.copyright {
    position: relative; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 50%;
}

p.date {
    padding-top: 2rem;
}

.coda {
    text-align: center;
    padding-top: 2rem;
}

svg.coda {
    width: clamp(24px,1.75vw,26px);
    height: auto;
}

svg.arrow-upper-right {
    width: clamp(10px,1.75vw,11px);
    height: auto;
    margin-left: -.25em;
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
    }

    article {
        padding: 5rem 1rem 0 1rem;
    }

    article:first-of-type {
        padding-top: 8rem;
    }
    
    article:last-of-type {
        padding-bottom: 8rem;
    }
}